@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(./assets/main-cover.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  background-color: #000;
  font-family: 'Ubuntu', sans-serif;
  font-weight: light;
  font-size: 16px;
  min-height: 100vh;
}

a,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: darken(#fa5, 20%);

  &:hover {
    color: lighten(#fa5, 5%);
  }
}
